.root {
  height: 100%;
  position: relative;
  /* background: rgba(255, 0, 0, 0.5); */
  user-select: none;
}

.brand {
  position: absolute;
  bottom: 19px;
  left: 19px;
  width: 30rem;
  background: var(--bg);
  border: solid 2px var(--color);
  padding: 1rem;
  font-style: italic;
}

.brand header {
  font-size: 2rem;
}

.object {
  position: absolute;
  top: 0;
  left: 0;
  /* border: solid 2px #f00; */
}

.underlay {
  /* border: solid 2px #00f; */
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.debug {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--bg-inv);
  color: var(--color-inv);
}

.debug pre {
  margin: 0;
}

.diag {
  transform: rotate(45deg);
}

.root svg line {
  stroke: var(--color);
}

.root svg text {
  /* fill: var(--color); */
}

.text {
  fill: var(--color);
}

.canvasBorder {
  stroke: var(--color);
  fill: none;
  stroke-width: 2px;
}

.angDebug {
  position: absolute;
  /* background-color: var(--bg); */
  left: 19px;
  top: 19px;
  border: solid 2px #fff;
}

.angDebug dl,
.angDebug dt,
.angDebug dd {
  margin: 0;
}

.angDebug dl {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 100px 200px;
}

.angDebug dt,
.angDebug dd {
  background: var(--bg);
  padding: 0.25rem;
  font-style: italic;
}

.angDebug dd {
  font-family: "Routed Gothic Wide";
}

.angDebugList {
  background: #fff;
}

/* .quad {
  display: none;
} */

.quad rect {
  stroke: var(--color);
  stroke-dasharray: 5 5;
  fill: none;
}

.quad text {
  transform: translateX(50px) translateY(50px);
  width: 100px;
  height: 100px;
  text-anchor: middle;
}

.quadLabel {
  font-size: 3rem;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 1 1;
}

.quadRect {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 5 5;
}
