.root {
  height: 100%;
  position: relative;
  /* background: rgba(255, 0, 0, 0.5); */
}

.object {
  position: absolute;
  top: 0;
  left: 0;
  /* border: solid 2px #f00; */
}

.underlay {
  /* border: solid 2px #00f; */
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.debug {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--bg-inv);
  color: var(--color-inv);
}

.debug pre {
  margin: 0;
}

.diag {
  transform: rotate(45deg);
}

.root svg line {
  stroke: var(--color);
}

.root svg text {
  fill: var(--color);
}

.canvasBorder {
  stroke: var(--color);
  fill: none;
  stroke-width: 2px;
}
