:root {
  --bg: rgb(0, 79, 134);
  --color: #fff;

  --bg-inv: var(--color);
  --color-inv: var(--bg);

  --font: "Routed Gothic";

  --margin: 1rem;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

pre,
code {
  font-family: "Fira Code", monospace;
}

.hidden {
  display: none;
}
